body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #f4f4f9, #e0eafc);
    margin: 0;
    padding: 20px;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s;
}

.container:hover {
    transform: scale(1.02);
}

h1, h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', sans-serif;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
    align-self: center;
    font-size: 16px;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

#map {
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}